.header{
    background-color: black;
    color: white;
    width: 100vw;
    height: 5em;
    display: flex;
}
.headerTitulo{
    padding-top: .5em;
    padding-left: 1em;
    margin-bottom: 1em;
    font-size: 2em;
    
    
}
.headerButton{
    width: 1em;
    height: 1em;
    margin:auto;
    margin-right: 4em;
    border: solid white;
    border-width: 0 3px 3px 0;
    padding: 3px;
    transform: rotate(-225deg) scale(1);
    transition: transform .3s;
    
}
.headerButton:hover{
    transform: rotate(-225deg) scale(1.2);
}

.headerNotes{
    width: 1em;
    height: 1em;
    border: solid white;
    border-width: 2px;
    margin: auto;
    margin-right: 2em;
    transform: scale(1) rotate(45deg);
    transition: transform .3s;
}
.headerNotes:hover{
    transform:scale(1.5) rotate(0deg)

}


.notesContent{
    padding-top: 3em;
    display:flex;
    flex-wrap: wrap;
    background-color:antiquewhite;
    height:auto;
    min-height: 100vh;
}




